*.docx


client/node_modules/           
server/node_modules/           
node_modules/
npm-debug.log*          
yarn-debug.log*         
yarn-error.log*         


client/dist/                  
client/build/                 
client/out/                   


.env                   
.env.local             
.env.development.local 
.env.test.local        
.env.*.local           

# Log files (usually not needed in Git)
*.log
logs
*.txt 
report.xml 

# OS-specific and editor files (junk files, irrelevant for collaboration)
.DS_Store  
Thumbs.db  
*.swp      
*.swo      
._*               
.Spotlight-V100   
.Trashes          
ehthumbs.db       
[Tt]emp*          
[Tt]mp/           
*.tmp             
*.bak             
*.orig            
*~                

# IDE and Editor specific folders (adjust as needed for your IDE/editor)
.idea/               
.vscode/             
.project             
.settings            
*.suo                
*.user               
*.sln.docstates      
*.csproj.user        

# Dependency manager specific files (if you use others)
jspm_packages/
web_modules/

# If you are using Docker (optional, if relevant to your project setup)
docker-compose.override.yml
docker-compose.yml.override
Dockerfile.lock
lerna-debug.log

# Custom project specific ignores (add any other files/folders unique to YOUR project that you don't want to track)
# Example: temp-data/